html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}
body, input, button {
  font-size: 1.0em;
  color: #333;
}
input[type="text"] {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: 2px solid #333;
}
input[type="color"] {
  border: 2px solid #333;
}
.std-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #333;
  background-color: #333;
  font-size: 0.8em;
}
.del-button {
  height: 20px;
  width: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  border: 2px solid rgb(147, 147, 147);
  color: rgb(147, 147, 147);
  background-color: #fff;
  text-align: center;
}
.color-circle {
  width: 20px;
  height: 20px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.full-width {
   width: 100%;
}
.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text-center {
  text-align: center;
}
.error {
  color: rgb(255, 58, 46);
}
.float-right {
  float: right;
}
.circle-button {
  -webkit-animation: pulse 30s infinite alternate;
  -moz-animation: pulse 30s infinite alternate;
  animation: pulse 30s infinite alternate;
  font-size: 5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  outline: none;
  border: none;
}
.circle-button:active {
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.75) inset;
  box-shadow: 0 0 10px rgba(0,0,0,0.75) inset;
}
.big-input {
  width: 250px;
  height: 75px;
  text-align: center;
}
.vertical-gap-5 {
  margin: 5px 0;
}
.vertical-gap-10 {
  margin: 10px 0;
}
.vertical-gap-20 {
  margin: 20px 0;
}
.small-cell {
  width: 5px;
}
@-webkit-keyframes pulse {
  0% {background-color: 	#9400D3;}
  17% {background-color: #4B0082;}
  34% {background-color: #0000FF;}
  51% {background-color: #00FF00;}
  68% {background-color: #FFFF00;}
  85% {background-color: #FF7F00;}
  100% {background-color: #FF0000;}
}
@-moz-keyframes pulse {
  0% {background-color: 	#9400D3;}
  17% {background-color: #4B0082;}
  34% {background-color: #0000FF;}
  51% {background-color: #00FF00;}
  68% {background-color: #FFFF00;}
  85% {background-color: #FF7F00;}
  100% {background-color: #FF0000;}
}
@keyframes pulse {
  0% {background-color: 	#9400D3;}
  17% {background-color: #4B0082;}
  34% {background-color: #0000FF;}
  51% {background-color: #00FF00;}
  68% {background-color: #FFFF00;}
  85% {background-color: #FF7F00;}
  100% {background-color: #FF0000;}
}
